<h2>User info</h2>
<%= image_tag user.get_profile_image(100, 100) %>
<hr>
<div class="row">
<b class="offset-1">name</b>
<b class="col ml-auto"><%= user.name %></b>
</div>
<hr>
<b>introduction</b>
<b><%= user.introduction %></b>
<br>

<div class="row mt-5">
  <%= link_to edit_user_path(current_user.id), class: "btn btn-outline-secondary col" do %>
    <i class="fa-solid fa-user-gear"></i>
  <% end %>
</div>
<br/>