<h2>User info</h2>
<%= image_tag user.get_profile_image(100, 100) %>
<hr>
<div class="row">
<h5 class="offset-1">name</h5>
<h5 class="col ml-auto"><%= user.name %></h5>
</div>
<hr>
<h5>introduction</h5>
<h5><%= user.introduction %></h5>
<br/>

<div class="row">
  <a href="users/edit" class="btn btn-outline-secondary col" role="buttone">
    <i class="fa-solid fa-user-gear"></i>
  </a>
</div>
<br/>