<body>
  <div class="container">
    <div class="row">
      <div class="col-md-3 bg-primary" style="">
        <h2>User info</h2>
        <h2>New book</h2>
      </div>
      <div class="offset-md-1 col-md-8 bg-pink">
        <h2>Books</h2>
        <table class="table table-hover">
          
          <thead>
            <tr>
              <th>image</th>
              <th>Title</th>
              <th>Opinion</th>
            </tr>
          </thead>
          
          <tbody>
            <tr>
              <td>画像が並ぶ</td>
              <td>タイトルが並ぶ</td>
              <td>本文が並ぶ</td>
            </tr>
          </tbody>
          
        </table>
      </div>
    </div>
  </div>
</body>