<div class="container-fluid justify-content-center">
  <div class="row justify-content-center">
    <div class="col-xl-4 col-sm-9 ">
      
      <h1>welcome to&nbsp;
        <span><i class="fa-solid fa-book"></i><b>Bookers</b>!!</span>
      </h1>
      
      <p style="line-height:3rem">
        in&nbsp;
        <i class="fa-solid fa-book"></i><b>Bookers</b>,</br>
        you can share and exchange your opinions, inpressions, and emotions about various books!
      </p>
      
      <div class="offset-1 col-10">
        <a href="users/sign_in" class="btn btn-info btn-block" role="button">Log in</a> 
        <a href="users/sign_up" class="btn btn-success btn-block" role="button">Sign up</a> 
      </div>
      
  </div>
</div>